@model PSCAT.ViewModels.TestStatusViewModel
@{
    ViewBag.Title = "Tests";
    Layout = "_StudentLayout";
}

<h1 class="row justify-content-center"> Pending Tests </h1>
<br />
<br />

<div class="row justify-content-center" style="border:groove">
    <table>
        <tr>
            <th>Test Name</th>
            <th>Course</th>
            <th>Status</th>
            <th></th>
            
        </tr>
        @foreach (var test in Model.StudentTestStatusRecord)
        {
    <tr>
        @*<td>
            <a asp-controller="Students" asp-action="TestDetails" asp-route-studentId=@Model.StudentId asp-route-testId=@test.TestId asp-route-courseId=@test.CourseId>
                @test.TestName
            </a>
        </td>*@
        <td>@test.TestName</td>
        <td>@test.CourseName</td>
        <td>@test.Completed</td>
        <td><button>Start Test</button></td>
    </tr>
        }
    </table>
</div>

