@model PSCAT.ViewModels.TestStatusViewModel
@{
    ViewBag.Title = "Tests";
    Layout = "_StudentLayout";
}

<h1 class="row justify-content-center"> Pending Tests </h1>
<br />
<br />

<div class="row justify-content-center" style="border:groove">
    <table>
        <tr>
            <th>Test Name</th>
            <th>Course</th>
            <th>Status</th>
            <th></th>

        </tr>
        @foreach (var test in Model.StudentTestStatusRecord)
        {
            <tr>
                <td>@test.TestName</td>
                <td>@test.CourseName</td>
                <td>@test.Completed</td>
                <td>
                    <form method="post" asp-controller="Tests" asp-action="StartTest" asp-route-studentId=@test.StudentId
                                asp-route-testId=@test.TestId asp-route-courseId=@test.CourseId asp-route-staffId=@test.StaffId>
                        <button type="submit" class="btn btn-success" >
                            Start Test
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

